[submodule "isaac-toolkit"]
	path = isaac-toolkit
	url = git@github.com:PhilippvK/isaac-toolkit.git
[submodule "memgraph_experiments"]
	path = memgraph_experiments
	url = git@github.com:PhilippvK/memgraph_experiments.git
[submodule "M2-ISA-R"]
	path = M2-ISA-R
	url = https://github.com/tum-ei-eda/M2-ISA-R.git
[submodule "etiss"]
	path = etiss
	url = git@github.com:PhilippvK/etiss.git
[submodule "mlonmcu"]
	path = mlonmcu
	url = https://github.com/tum-ei-eda/mlonmcu.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:PhilippvK/llvm-project.git
[submodule "seal5"]
	path = seal5
	url = git@github.com:tum-ei-eda/seal5.git
[submodule "mgclient"]
	path = mgclient
	url = https://github.com/memgraph/mgclient.git
